@font-face {
  font-family: "Prescott";
  src: url("../assets/fonts/Prescott_Regular.ttf");
}

:root {
  font-size: 62.5%;
  --wanted-font: 'Prescott', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --serif-font: Imbue, 'Times New Roman', Times, serif;
  --bounty-font: 'Walter Turncoat', Arial, Helvetica, sans-serif;
  --poster-bkg: hsl(36, 74%, 68%);
}

body {
  box-sizing: border-box;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../assets/media/wood-bkg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


h3,
h2,
h1,
p,
strong {
  margin: 0;
}